
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 0%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    background: lightblue;
    height: 420px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px 10px;
}

.label{
    font-weight: bold;
}

.logo{
    margin-left: 70px;
    margin-top: -10%;
}

.input{
    background-color: whitesmoke;
    border: none;
}

.btn{
    font-size: 75%;
    margin: 5px;
    padding: 15px;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 130px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}

.btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
    background-position: right center;
}
.data{
    font-weight: bolder;
    font-size: small;
    margin-bottom: 0%;
}

.h1{
    margin-top: 0%;
}

.label{
   font-size: 80%;
}

.svg{
    padding-left: 100px;
    margin-right: -30%;
    margin-top:15%;
    align-items: center;
    justify-content: right;
}

#r-arm{
    animation: r-arm 1.6s infinite ease-out alternate;
}

#r-hand{
    animation: r-arm 1.55s infinite ease-out alternate;
}

#l-arm{
    animation: r-arm 1.6s infinite ease-out alternate;
}

#l-hand{
    animation: r-arm 1.55s infinite ease-out alternate;
}

#Flag{
    animation: r-arm 1.2 infinite ease-out alternate;
}

@keyframes r-arm{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-8px);
    }
}

@media screen and (max-height: 600px){
    .container{
        height: 400px;
    }
    
    .btn{
        width: 120px;
        height: 40px;
        padding: 0px;
        border-radius: 5px;
    }
} 

:root {
    --white: #ffffff;
    --snow: #f7f7f7;
    --light-pink: #ffd5da;
    --hot-pink: #f27d9c;
    --gainsboro: #dcdcdc;
  }
  
  .box {
    z-index: 99;
    width: 15rem;
    height: 5rem;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.3rem 0.5rem var(--gainsboro);
    border: 0.1rem solid var(--gainsboro);
    border-radius: 5%;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  }
  
  .flashing-circle {
    z-index: 100;
    display: inline-block;
    background-color: var(--white);
    border: 0.25rem solid var(--light-pink);
    border-radius: 100%;
    margin: 0.1rem;
    width: 3rem;
    height: 3rem;
    animation: flashing-animation 2.4s infinite;
  }
  
  .flashing-circle:nth-child(2) {
    animation-delay: -1.6s;
  }
  
  .flashing-circle:nth-child(3) {
    animation-delay: -0.8s;
  }
  
  @keyframes flashing-animation {
    0% {
      background-color: var(--white);
      border-color: var(--light-pink);
    }
    50% {
      background-color: var(--snow);
      border-color: var(--hot-pink);
    }
  }

  .active{
      display: none;
  }

  @media screen and (max-width: 768px){
      .svg{
          display: none;
      }
      .container{
          margin-top: 10%;
          font-size: 110%;
          height: 460px;
      }
      .logo{
          display: none;
      }
  }
